<a href="https://colab.research.google.com/github/w2k31984/Practicas_scikit-learn_ML_Python/blob/master/Sk_Regresion_Lineal_Simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!python --version

Python 3.7.12

In [3]:
import sklearn

In [4]:
sklearn.__version__

'1.0.2'

Regresion Lineal Simple, aca nuestro modelo unicamente debe aprender dos constantes 0 = Interseccion y 1 = la pendiente.

1)Entrenando nuestro modelo

$y= b_0 + b_1x$

2)Importando nuestro archivo que esta guardado en google drive

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

3) Importando librerias al proyecto: numpy, pandas, matplotlib.

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

4)Cargamos nuestro set de datos desde Drive que estan en excel.

In [36]:
data = pd.read_excel("/content/drive/MyDrive/Colab_Notebooks/DataSets/ReduccionSolidosDemandaOxigeno.xlsx")

5)Consultando el contenido de la variable data.

In [37]:
data

    Reduccion de solidos  Reduccion de la demanda de oxigeno
0                      3                                   5
1                      7                                  11
2                     11                                  21
3                     15                                  16
4                     18                                  16
5                     27                                  28
6                     29                                  27
7                     30                                  25
8                     30                                  35
9                     31                                  30
10                    31                                  40
11                    32                                  32
12                    33                                  34
13                    33                                  32
14                    34                                  34
15                    36                                  37
16                    36                                  38
17                    36                                  34
18                    37                                  36
19                    38                                  38
20                    39                                  37
21                    39                                  36
22                    39                                  45
23                    40                                  39
24                    41                                  41
25                    42                                  40
26                    42                                  44
27                    43                                  37
28                    44                                  44
29                    45                                  46
30                    46                                  46
31                    47                                  49
32                    50                                  51